# Operations in Python

## Numpy

In [32]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [1]:
dict_winterfell = {"Arya Stark": "Nymiria", "John Snow": "Ghost"}
dict_winterfell

{'Arya Stark': 'Nymiria', 'John Snow': 'Ghost'}

In [2]:
dict_targerian = {"Emilla clarke": ["Viserian", "Drogo"], "Dragons":3, "AllAlive": False}
dict_targerian

{'AllAlive': False, 'Dragons': 3, 'Emilla clarke': ['Viserian', 'Drogo']}

In [3]:
type(dict_targerian)

dict

In [5]:
houses = ["Targerian", "Stark", "Tully"]
houses

['Targerian', 'Stark', 'Tully']

In [6]:
houses = ["Lannisters", 3]

In [9]:
type(houses)

list

In [13]:
tuple_ex = range(1,20,3)
tuple_ex

range(1, 20, 3)

In [17]:
type((dict_winterfell, dict_targerian, houses))

tuple

In [19]:
tuple_ex = (dict_winterfell, dict_targerian)
tuple_ex

({'Arya Stark': 'Nymiria', 'John Snow': 'Ghost'},
 {'AllAlive': False, 'Dragons': 3, 'Emilla clarke': ['Viserian', 'Drogo']})

In [20]:
tuple_ex = (dict_winterfell, dict_targerian, houses)
tuple_ex

({'Arya Stark': 'Nymiria', 'John Snow': 'Ghost'},
 {'AllAlive': False, 'Dragons': 3, 'Emilla clarke': ['Viserian', 'Drogo']},
 ['Lannisters', 3])

### Pandas

In [1]:
import pandas as pd

#### Series

In [6]:
series = pd.Series({"Avengers:End Game":"Awesome Movie"})
series

Avengers:End Game    Awesome Movie
dtype: object

In [8]:
series  = pd.Series({"Avengers EndGame":"AwesomeMovie", "ragingss":5})
series

Avengers EndGame    AwesomeMovie
ragingss                       5
dtype: object

#### Dataframe

In [14]:
dataFrame = pd.DataFrame(series)
dataFrame

                             0
Avengers EndGame  AwesomeMovie
ragingss                     5

In [21]:
pd.DataFrame({"A", "B", "C"}, {"A", 1, 2})

   0
1  A
2  B
A  C

In [28]:
numbersArray = pd.DataFrame(np.arange(1, 10, 2))
numbersArray

   0
0  1
1  3
2  5
3  7
4  9

In [31]:
temp_dataframe = pd.DataFrame({"CaptionAmerica":["Hawkey", "Agent RomanOff"],
                             "IronMan":["SpiderMan", "Vision"]})
temp_dataframe

   CaptionAmerica    IronMan
0          Hawkey  SpiderMan
1  Agent RomanOff     Vision