# Operations in R

### Vectors

In [1]:
subject_name <- c('John Snow', 'Arya Stark', 'Ned Stark')
subject_name
temperature <- c(98.1, 93.5, 96.4)
flue_status <- c(FALSE, FALSE, TRUE)
# printing temperature data
temperature[2]
# printing 2nd and 3rd valuse
temperature[2:3]
# displaying data based on boolean values
temperature[c(TRUE, TRUE, FALSE)]

[1] "John Snow"  "Arya Stark" "Ned Stark"

[1] 93.5

[1] 93.5 96.4

[1] 98.1 93.5

### Factors

In [2]:
gender = factor(c('MALE', 'FEMALE', 'MALE'))
gender
# adding factor levels
blood_groups <- factor(c('O', 'AB', 'A'), levels = c('A', 'B', 'AB', 'O'))
blood_groups

[1] MALE   FEMALE MALE
Levels: FEMALE MALE

[1] O  AB A
Levels: A B AB O

### List

In [3]:
subject1 <- list(fullname = subject_name[1],
                 temperature = temperature[1],
                 flue_status = flue_status[1],
                 gender = gender[1],
                 blood = blood_groups[1])

subject1

$fullname
[1] "John Snow"

$temperature
[1] 98.1

$flue_status
[1] FALSE

$gender
[1] MALE
Levels: FEMALE MALE

$blood
[1] O
Levels: A B AB O

### DataFrames

In [4]:
gt_data <- data.frame(subject_name, temperature, gender, blood_groups)
gt_data
#printing first rows
gt_data[1,]
#printing first columns
gt_data[,1]
#printing data by column
gt_data[c('temperature', 'gender')]

  subject_name temperature gender blood_groups
1 John Snow    98.1        MALE   O
2 Arya Stark   93.5        FEMALE AB
3 Ned Stark    96.4        MALE   A

  subject_name temperature gender blood_groups
1 John Snow    98.1        MALE   O

[1] John Snow  Arya Stark Ned Stark
Levels: Arya Stark John Snow Ned Stark

  temperature gender
1 98.1        MALE
2 93.5        FEMALE
3 96.4        MALE

### Metrixes and Arrays

In [5]:
m <- matrix(c('a', 'b', 'c', 'd', 'e', 'f'), nrow = 2)
m
m <- matrix(c('a', 'b', 'c', 'd', 'e', 'f'), ncol = 2)
m

     [,1] [,2] [,3]
[1,] a    c    e
[2,] b    d    f

     [,1] [,2]
[1,] a    d
[2,] b    e
[3,] c    f